.second-btn-img {
    position: relative;
    right: 60px;
}

.custom-css-for-card {
    border-radius: 20px;
}

.verticalLine {
    border-radius: 1px solid #ededed;
    margin-right: auto;
    width: 0.5px;
    opacity: 0.5;
}

.sptag {
    vertical-align: 20px;
}

.sptag1 {
    vertical-align: 7px;
}

.text {
    font-size: 15px;
    line-height: normal;
    font-weight: 500;
}

.font-weight-bold {
    font-size: large;
}



/* card bg color moving animation */

.test1 {
    z-index: 0;
    overflow: hidden;
    /* height: 100%; */

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -50px;
        left: -50px;
        background: #36454F;
        height: 50px;
        width: 72px;
        border-radius: 40px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(50);
    }
}




/* text scroll animation */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*General styling for structure*/


.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}


@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 700ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-in-top {
    animation: fade-in-top 1s ease-in-out both;
  }

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

 @keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 


/* card touching animation */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


* {
  transition: all 0.3s ease-out;
}



.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h5 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

/* p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
} */



.card1 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 300px;
  background-color: #e9f8fa;
  border-radius: 4px;
  padding: 32px 24px;
  /* margin: 12px; */
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #c0bfbf;
    background-color: #ffffff;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}



.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 300px;
    background-color: #f3f0fc;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
  }


  .card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 300px;
    background-color: #edf5fb;
    border-radius: 4px;
    padding: 32px 24px;
    /* margin: 12px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
  }

  .card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 300px;
    background-color: #f8f6f6;
    border-radius: 4px;
    padding: 32px 24px;
    /* margin: 12px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
  }

  



