

.second-btn-img {
    position: relative;
    right: 60px;
}

.custom-css-for-card {
border-radius: 20px;
}

.verticalLine{
    border-radius: 1px solid #ededed;
    margin-right: auto;
    width: 0.5px;
    opacity: 0.5;
}


.sptag{
    vertical-align: 15px;
}
.sptag1{
    vertical-align: 7px;
}
.text{
font-size: 15px;
line-height: normal;
font-weight: 500;
}
.font-weight-bold{
    font-size: large;
}

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    padding: 40px 0;
    transition: 0.3s;
  }

